body {
    background-color: #121116;
}

.mainer {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    margin-top: 120px;
    margin-bottom: 51px;
}

.text {
    color: white;
    font-size: 20px;
}

.separator {
margin: 21px auto;
width: 230px;
}

.social img {
   margin: 0 18px; 
}

.footer {
    color: white;
    margin-top: 90px;
}

span {
    color: #1dc0f0;
}

